html {
    position: relative;
    min-height: 100%;
}

.navbar {
    position: absolute;
    overflow: hidden;
    /*position: absolute; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    float: right;
    color: #ffa69e;
    z-index: 1; /* stay ontop */

}
  
/*colors : ffa69e*/
/*colors : faf3dd*/
/*colors : b8f2e6*/
.mainDiv{
    width: 800px;
    align-self: center;
}

.main {
margin-top: 30px;
}

body {
    background-color: #faf3dd;
    display: flex;
    flex-flow: column;
    margin-bottom: 240px;
    margin-top:70px;
}

a {
color:#893168;
}

h2{
    color: #893168;
}
fieldset{
    align-items: center;
    background-color:#b8f2e6 ;
}

.brdr{
    border: 10px solid;
    border-radius: 35px;
}

.sidebar    {
    width: 200px;
    height: 400px;
    float: left;
}

.submit-image {
    width: 10px;
}

body > .container {
    padding-bottom: 100px;
}


.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 260px;
    background-color: #ffa69e;
}
.website-logo {
    width: 100; 
    height: 60; 
    alt: "yoVerselogo";
}

#page-container {
    position: relative;
    min-height: 100vh;
}
  
#content-wrap {
    padding-bottom: 2.5rem;    /* Footer height */
}
  


@media screen and (max-width: 900px) {
    .resizeImg{
         width: 500px;
    }
}
@media screen and (max-width: 600px) {
    .resizeImg{
         width: 300px;
    }
}
/* The sidebar menu */
.sidenav {
    position: absolute; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 0; /* Stay on top */
    top: 0px; /* Stay at the top */
    left: 0;
    background-color:#86e5ee; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    height: 3000ch;
    width: 35ch;
}
  
  /* The navigation menu links */
.sidenav a {
    font-size: 20px;
    color: black;
    display: #b8f2e6;
}
.postText{
    width: auto;
    height: auto;
    align-content: center;
    position: relative;
    left: 100px;
}

.moveDown{
    position: relative;
    top: 73px;
}

  /* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}
  
  /* Style page content */
.main {
    margin-left: 160px; /* Same as the width of the sidebar */
    padding: 0px 10px;
}
.hasError{
    color: red;
}
  
  /* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
<<<<<<< HEAD
}

#PostButtonContainer {
      margin: auto;
      margin-top: 25px;
}

.postContainer {
      color: black;
      margin: auto;
      padding: 25px 25px;
}

.postThumbnail {
      width: 100px;
}

.postMainBody {
      margin: auto;
      margin-top: 20px;
}

.mediaBody {
      text-decoration: black;
}

.postBox {
    top: 142px;
    margin: auto;
}

.adSpace {
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 142px; /* Stay at the top */
    right: 0;
    overflow-x: hidden; /* Disable horizontal scroll */
}

.adSpace a {
    font-size: 20px;
    color: black;
    display: #b8f2e6;
}

.adSpace a:hover {
    color: #f1f1f1;
}

Form.blocktext {
    margin: 0 auto;
}
=======
  }

  #mainDiv{
    padding: 70px;
  }

  .center {
      margin: auto;
      text-align: center;
  }
  
  h1 {
      text-align:center;
  }
>>>>>>> 33e70e6ed76c1f7c809d81817bdad5e3788ae4ff
