<%if(!loggedIn){ %>
<header>
    <nav class="navbar nav navbar-inverse navbar-expand-xl navbar-expand badge-light navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/user">
                    <img src="/images/yoVerseWebsite.png" class="website-logo">
                </a>
            </div>
            <div class="nav navbar-nav">
                <form class="form-inline my-2  navbar-right">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
                </ul>
                <div class="nav navbad-nav">
                </div>
            </div>
    </nav>
</header>
<br>
<div class="container mainDiv" style="color: black;">
    <fieldset class="brdr">
    <div class = "d-flex justify-content-center ">
        <img src="/images/errorImage.jpg" width="700" class="img-fluid">
    </div>
    <br>
    <div>
        <div class="text-center">
            <a href="/user">
                <span class="button">Go back</span>
            </a>
        </div>
    </div>

</fieldset>
</div>
<%}else{ %>
    <header>
        <nav class="navbar nav navbar-inverse navbar-expand-xl navbar-expand badge-light navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="home">
                        <img src="/images/yoVerseWebsite.png" class="website-logo">
                    </a>
                </div>
                <div class="nav navbar-nav">
                    <form class="form-inline my-2  navbar-right">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search"
                            aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form>
                </div>
                <div>
                    <h5>Logged in as:</h5>
                    <%= currentUser.username %>
                </div>
                <div class="nav navbad-nav">
                    <a href="<%= `/user/${currentUser.username}/Profile` %>"><img class="d-flex mr-3 postThumbnail" src="/img/profilePicBlank.png"></a>
                </div>
            </div>
        </nav>
    </header>
    <br>

    <body>
        <div class="container mainDiv" style="color: black;">
            <fieldset class="brdr">
            <div class = "d-flex justify-content-center ">
                <img src="/images/errorImage.jpg" width="700" class="img-fluid">
            </div>
            <br>
            <div>
                <div class="text-center">
                    <a href="/user/home">
                        <span class="button">Go home</span>
                    </a>
                </div>
            </div>
        
        </fieldset>
        </div>
    </body>
    
<%}%>