<%if(!loggedIn){ %>
<br>
<div class="container mainDiv" style="color: black;">
    <fieldset class="brdr">
    <div class = "d-flex justify-content-center ">
        <img src="/images/errorImage.jpg" width="700" class="img-fluid">
    </div>
    <br>
    <div>
        <div class="text-center">
            <a href="/user">
                <span class="button">Go back</span>
            </a>
        </div>
    </div>

</fieldset>
</div>
<%}else{ %>
    <br>
    <body>
        <div class="container mainDiv" style="color: black;">
            <fieldset class="brdr">
            <div class = "d-flex justify-content-center ">
                <img src="/images/errorImage.jpg" width="700" class="img-fluid">
            </div>
            <br>
            <div>
                <div class="text-center">
                    <a href="/user/home">
                        <span class="button">Go home</span>
                    </a>
                </div>
            </div>
        
        </fieldset>
        </div>
    </body>
    
<%}%>