<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>yoVerse</title>
    <meta name="keywords" content="HTML, CSS, JavaScript"> <!-- keywords for search engines -->
    <meta name="description" content="yoVerse Website"> <!-- description for search engines -->
    <meta name="author" content="Micah Stovall, Dax Valdez, Artiom Skarakhod"> <!-- labels the author of the page -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/css/styles.css">
    <link rel="shortcut icon" href="public/images/fevicon2.png">


</head>

<body>
    <%-body%>

        <br>
        <br>
        <footer>
            <div class="container-fluid footer">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3">
                            <h3>Help</h3>
                            <hr>
                            <ul class="list-unstyled">
                                <li>
                                    <a href="">
                                        Contact us
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        Report a Problem
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        Jobs
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <br>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="pull-right">
                                <a href="">Privacy</a> | <a href="">Terms and Conditions</a>
                            </div>
                            <div>
                                <p class="copyright">
                                    &copy; 2021 yoVerse Inc.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
</body>