<header>
    <nav class="navbar nav navbar-inverse navbar-expand-xl navbar-expand badge-light navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/home">
                    <img src="/images/yoVerseWebsite.png" alt="logo" class="website-logo">
                </a>
            </div>
            <div class="nav navbar-nav">
                <form class="form-inline my-2  navbar-right">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
            <div>
                <button type="button" onclick="location.href='/signup';" class=" btn btn-outline-warning btn-lg"
                    id="loginBtn">Sign Up</button>
            </div>
        </div>
    </nav>
</header>

<br>
<section>
    <form action="/login" method="post" id="mainDiv" id="signInForm">
        <!-- This is our email and password fields -->
        <fieldset class="border brdr">
            <h2 class="d-flex justify-content-center">Sign in</h2>
            <br>
            <div class="row">
                <div class="col-lg-3"></div>

                <div class="col-lg-6 row">

                    <!-- Email -->
                    <div class="form-group col-lg-12 d-flex justify-content-center">
                        <div class="col-sm-4 col-md-6 col-lg-6">
                            <label for="txtEmail" class="col-form-label col-lg-4">
                                <span>Email: </span>
                            </label>
                        </div>

                        <div class="col-sm-8 col-md-6  col-lg-6 ">
                            <input type="text" id="txtEmail" name="txtEmail" required class="form-control"
                                placeholder="Email">
                        </div>
                    </div>

                    <!-- Password -->
                    <div class="form-group col-lg-12 d-flex justify-content-center">
                        <div class="col-sm-4 col-md-6 col-lg-6 ">
                            <label for="txtPassword" class="col-form-label col-lg-4">
                                <span>Password: </span>
                            </label>
                        </div>
                        <div class="col-sm-8 col-md-6 col-lg-6">
                            <input type="text" id="txtPassword" name="txtPassword" required class="form-control"
                                placeholder="Password">
                        </div>
                    </div>


                    <!-- Remember me check Box-->
                    <div class="form-group col-lg-12 d-flex justify-content-center">
                        <label for="rememberMe" class="">
                            <input type="checkbox" id="rememberMe" name="rememberMe" value="Yes">
                            remember me</label>
                    </div>

                    <!-- Buttons -->
                    <a href="/home" class="col-lg-12 d-flex justify-content-center">
                        <input href="/home" type="submit" value="Login" class="col-sm-6 col-md-4 col-lg-3 
                                                    offset-md-1 offset-sm-1 offset-xs-1
                                                        btn btn-danger" onclick=" relocate_home()">
                        <button type="reset" class="col-sm-6  col-md-4 col-lg-3 btn btn-light">Cancel</button>

                        <script>
                            function relocate_home() {
                                location.href = "/home";
                            }
                        </script>
                    </a>

                    <!-- Forgot Your Password-->
                    <div class="col-sm-5 col-lg-12 offset-sm-1 d-flex justify-content-center hyperColor center">
                        <a class="center" href="/forgotPassword">Forgot your password?</a>
                    </div>
                    <div class="center">Don't have an account....?</div>

                    <!-- Sing up Link-->
                    <div class="col-sm-5  col-lg-12  d-flex justify-content-center hyperColor">
                        <button href="/signup" class="btn btn-primary" >Sign Up</button>
                    </div>
                </div>
                <div class="col-lg-3"></div>
            </div>
            <br>
        </fieldset>
    </form>
</section>