    <header>
        <nav class="navbar nav navbar-inverse navbar-expand-xl navbar-expand badge-light navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="homePage.html">
                        <img src="public/images/yoVerseWebsite.png" class="website-logo">
                    </a>
                </div>
                <ul class="nav navbar-nav">
                    <form class="form-inline my-2  navbar-right">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form>
                </ul>
                <div class="nav navbad-nav">

                    <a href="homePage.html"><img class="d-flex mr-3 postThumbnail" src="public/img/homeButton.png"></a>
                </div>
            </div>
        </nav>
    </header>

    <div class="sidenav col-3">
        <a href="homePage.html">Feed</a> <br>
        <a href="">Notifications</a> <br>
        <a href="">Messages</a> <br>
        <a href="">Help & Support</a> <br>
        <a href="profilePage.html">Profile</a> <br>
        <a href="">Log Out</a><br>
    </div> <br>

    <div class="adSpace col-6">
        <a href="dogecoin.com"><img src="public/img/ad.jpg"></a>
    </div> <br>

    <br>
    <form class="blocktext col-6">
        <div class="col">

            <fieldset class="form-group targetAdsField">
                <div class="row col-sm-8">
                    <legend class="col-form-label">Profile Specific Ads</legend>
                </div>

                <div class="col-sm-12">
                    <div class="form-group col-sm-8 row">
                        <div class="form-check col-4">
                            <input type="radio" id="taOn" name="targetAds" value="on" class="form-check-input">
                            <label for="taOn" class="form-check-label">On</label>
                        </div>

                        <div class="form-check col-4">
                            <input type="radio" id="taOff" name="targetAds" value="off" class="form-check-input">
                            <label for="taOff" class="form-check-label">Off</label>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
        <p>
            <button type="submit" class="btn btn-primary">Save</button>
            <button type="reset" class="btn btn-secondary">Cancel</button>
        </p>
    </form> <br> <br>