<header>
    <nav class="navbar navbar-inverse navbar-expand-xl navbar-expand badge-light">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/home">
                    <img src="/images/yoVerseWebsite.png" alt="logo" class="website-logo">
                </a>
            </div>
            <div class="navbar-nav">
                <form class="form-inline my-2  navbar-right">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
            <div>
                <button type="button" onclick="location.href='/signup';" class=" btn btn-outline-warning btn-lg"
                    id="loginBtn">Sign Up</button>
            </div>
        </div>
    </nav>
</header>

<section>
    <div id="mainDiv">
        <fieldset class="brdr border mainForms">
            <div class= "row d-flex justify-content-center">
                <h2 class=" row d-flex justify-content-center col-sm-12">Sorry, we encountered an error. Check your passwords match and all fields are complete. Finally, maybe you already tried to sign up. </h2>
                <button class="col-sm-10 btn btn-danger btn-lg" onclick="location.href='/signup';">Try again</button>
            </div>
        </fieldset>
    </div>
</section>