<%if(!loggedIn){ %>
<br>
<section>
    <br>
    <fieldset class="border brdr higherStyling">
        <div class ="higherStyling">
            <h3 class="text-center">
                Welcome to yoVerse!
            </h3>
            <div class="text-center">
                <a href="/user">
                    <span class="button">Continue</span>
                </a>
        </div>
    </fieldset>
</section>

<%}else{ %>
    <body>
        <div class="container mainDiv" style="color: black;">
            <fieldset class="brdr">
                <div class="text-center">
                    <div>
                        <h3>You are already signed in</h3>
                    </div>
                    <a href="/user/home">
                        <span class="button">Go home</span>
                    </a>
                </div>
            </fieldset>
        </div>
    </body>
    
<%}%>