<header>
    <nav class="navbar nav navbar-inverse navbar-expand-xl navbar-expand badge-light navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">
                    <img src="/images/yoVerseWebsite.png" alt="logo" class="website-logo">
                </a>
            </div>
            <div class="nav navbar-nav">
                <form class="form-inline my-2  navbar-right">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
            <div>
                <button type="button" onclick="location.href='user/signup';" class=" btn btn-outline-warning btn-lg"
                    id="loginBtn">Sign Up</button>
            </div>
        </div>
    </nav>
</header>

<br>
<section>
    <!-- This is our email and password fields -->
    <br><br>
    <fieldset class="border brdr">
        <div id="mainDiv">
            <h3 class="text-center">
                Welcome to yoVerse!
            </h3>
            <div class="text-center">
                <a href="/user">
                    <span class="button">Continue</span>
                </a>
        </div>
    </fieldset>
</section>