html {
    position: relative;
    min-height: 100%;
}

.navbar {
    position: absolute;
    overflow: hidden;
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    float: right;
    color: #ffa69e;
    z-index: 1; /* stay ontop */    
}
  
/*colors : ffa69e*/
/*colors : faf3dd*/
/*colors : b8f2e6*/
.mainDiv{
    width: 1000px;
    align-self: center;
    margin-top: 70px;
}

.mainForms {
    margin-top: 60px;
    align-self: center;
}

body {
    background-color: #faf3dd;
    display: flex;
    flex-flow: column;
    margin-bottom: 240px;
    margin-top:70px;
}

a {
    color:#893168;
}

h2{
    color: #893168;
}
fieldset{
    align-items: center;
    background-color:#b8f2e6 ;
}

.brdr{
    border: 5px solid;
    border-radius: 28px;
}

.alert-warning{
    color: #faf3dd;
    border-color: #ffa69e;
    border-radius: 24px;
}

.submit-image {
    width: 10px;
}

body > .container {
    padding-bottom: 100px;
}


.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 260px;
    background-color: #ffa69e;
}
.website-logo {
    width: 100; 
    height: 60; 
    alt: "yoVerselogo";
}

#page-container {
    position: relative;
    min-height: 100vh;
}
  
#content-wrap {
    padding-bottom: 2.5rem;    /* Footer height */
}
  

@media screen and (max-width: 900px) {
    .resizeImg{
         width: 500px;
    }
}
@media screen and (max-width: 600px) {
    .resizeImg{
         width: 300px;
    }
}
/* The sidebar menu */
  
  /* Style page content */
.main {
    margin-left: 160px; /* Same as the width of the sidebar */
    padding: 0px 10px;
}
  
  /* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.adSpace {
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 142px; /* Stay at the top */
    right: 0;
    overflow-x: hidden; /* Disable horizontal scroll */
}

.adSpace a {
    font-size: 20px;
    color: black;
    display: #b8f2e6;
}

.adSpace a:hover {
    color: #f1f1f1;
}

Form.blocktext {
    margin: 0 auto;
}
.center {
    margin: auto;
    text-align: center;
}

h1 {
    text-align:center;
}

.moveDown{
position: right;
top: 73px;
}

.button {
    background-color: #ed4a0f;
    padding: 0.3vw 3vw;
    border-radius: 2px;
    cursor: pointer;
    display: inline-block;
    color: #fff;
  }

  .button:hover{
    background-color: #ffa69e;
  }
  .alert{
      color: #893168;
  }

  #signinForm{
      margin-top:60px;
  }
  .higherStyling{
    margin-top:45px;
    margin-bottom:30px;

  }
  @media all and (max-width: 1000px) and (min-width: 700px) {#postBox {
     margin-left: 200px;
  }}
  @media all and (max-width: 7000px) {#postBox {
    margin-top: 120px;
    margin-left: 200px;
 }}
 @media only screen and (max-width: 700px) {
    #dateHide {
        display: none;
    }}
#dateHide {
    margin-left: 20px;
}
@media only screen and (max-width: 1200px) {
    #reccomendHide{
        display: none;
}}
