<section>
    <header>
        <nav class="navbar nav navbar-inverse navbar-expand-xl navbar-expand badge-light navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/home">
                        <img src="/images/yoVerseWebsite.png" alt="logo" class="website-logo">
                    </a>
                </div>
                <div class="nav navbar-nav">
                    <form class="form-inline my-2  navbar-right">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form>
                </div>
                <div>
                    <button type="button" onclick="location.href='signup';" class=" btn btn-outline-warning btn-lg"
                        id="loginBtn">Sign Up</button>
                </div>
            </div>
        </nav>
    </header>
    <br>
    <form id="mainDiv" id="signInForm">
        <!-- This is our email and password fields -->
        <fieldset class="border brdr">
            <h2 class="d-flex justify-content-center">Enter your Email to reset your Password</h2>

            <br>
            <div class="row">
                <div class="col-lg-3"></div>

                <div class="col-lg-6 row">

                    <!-- Email -->
                    <div class="form-group col-lg-12 d-flex justify-content-center">
                        <div class="col-sm-2 col-lg-6">
                            <label for="txtEmail" class="col-form-label col-lg-4">
                                <span>Email: </span>
                            </label>
                        </div>

                        <div class="col-sm-10 col-lg-6 ">
                            <input type="text" id="txtEmail" name="txtEmail" required class="form-control"
                                placeholder="Email">
                        </div>
                    </div>

                    <!-- Buttons -->
                    <div class="form-group col-lg-12 d-flex justify-content-center">
                        <button type="submit" class="col-sm-4 btn btn-danger">Reset Password</button>
                    </div>

                    <!-- Sign up Link-->
                    <div class="col-sm-6 col-md-6 col-lg-12 d-flex justify-content-center hyperColor">
                        <a href="login">Sign In!</a>
                    </div>

                    <!-- Sign up Link-->
                    <div class="col-sm-6 col-md-6 col-lg-12 d-flex justify-content-center hyperColor">
                        <a href="signup">No Account? Sign up!</a>
                    </div>
                </div>
                <div class="col-lg-3"></div>
            </div>
            <br>
        </fieldset>
    </form>
</section>