<%if(!loggedIn){ %>
<br>
<section>
    <!-- This is our email and password fields -->
    <br><br>
    <fieldset class="border brdr">
        <div class="higherStyling">
            <h3 class="text-center">
                Yo Account options:
            </h3>
            <div class="text-center">
                <a href="user/login">
                    <span class="button">Sign In here</span>
                </a>
                
            </div>
            <br>
            <div class="text-center">
                <a href="user/signup">
                    <span class="button">Create your yoVerse account here</span>
                </a>
            </div>
        </div>
    </fieldset>
</section>

<%}else{ %>
    <br>
    <body>
        <div class="container mainDiv" style="color: black;">
            <fieldset class="brdr">
                <div class="text-center">
                    <div>
                        <h3>You are already signed in</h3>
                    </div>
                    <a href="/user/home">
                        <span class="button">Go home</span>
                    </a>
                </div>
            </fieldset>
        </div>
    </body> 
<%}%>