<header>
    <nav class="navbar nav navbar-inverse navbar-expand-xl navbar-expand badge-light navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/user">
                    <img src="/images/yoVerseWebsite.png" alt="logo" class="website-logo">
                </a>
            </div>
            <div class="nav navbar-nav">
                <form class="form-inline my-2  navbar-right">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
            <div>
                <button type="button" onclick="location.href='signup';" class=" btn btn-outline-warning btn-lg"
                    id="loginBtn">Sign Up</button>
            </div>
        </div>
    </nav>
</header>

<br>
<section>
    <!-- This is our email and password fields -->
    <fieldset class="border brdr higherStyling">
        <form action="/user/login" method="POST" class="higherStyling" id="mainDiv" id="signInForm">
            <h2 class="d-flex justify-content-center">Sign in</h2>
            <br>
            <div class="row">
                <div class="col-lg-3"></div>
                <div class="col-lg-6 row">
                    <!-- Email -->
                    <div class="form-group col-lg-12 d-flex justify-content-center center">
                        <div class="col-sm-4 col-md-6 col-lg-6">
                            <label for="txtUserName" class="col-form-label center col-lg-4">
                                <span>
                                    <font size="+2"> Email: </font>
                                </span>
                            </label>
                        </div>

                        <div class="col-sm-8 col-md-6  col-lg-6 ">
                            <input type="text" id="txtUserName" name="email" required class="form-control"
                                placeholder="Email">
                        </div>
                    </div>

                    <!-- Password -->
                    <div class="form-group col-lg-12 d-flex justify-content-center center">
                        <div class="col-sm-4 col-md-6 col-lg-6 ">
                            <label for="txtPassword" class="col-form-label col-lg-4">
                                <span>
                                    <font size="+2"> Password: </font>
                                </span>
                            </label>
                        </div>
                        <div class="col-sm-8 col-md-6 col-lg-6">
                            <input type="password" id="txtPassword" name="password" required class="form-control"
                                placeholder="Password">
                        </div>
                    </div>


                    <!-- Remember me check Box-->
                    <div class="form-group col-lg-12 d-flex center justify-content-center">
                        <label for="rememberMe" class="">
                            <input type="checkbox" id="rememberMe" name="rememberMe" value="Yes">
                            remember me</label>
                    </div>


                    <div class="center col-12">
                        <button type="submit" name="SubmitButton"
                            class="col-4 btn btn-danger center">Login!</button>
                    </div>
                </div>
            </div>
        </form>
    </fieldset>
    <!-- Forgot Your Password-->
    <div class="col-sm-5 col-lg-12 offset-sm-1 d-flex justify-content-center hyperColor center">
        <a class="center" href="forgotPassword">Forgot your password?</a>
    </div>
    <div class="center col-12">Don't have an account....?</div>

    <!-- Sing up Link-->
    <div class="col-sm-5  col-lg-12  d-flex justify-content-center center hyperColor">
        <a href="signup" class="center">Sign Up</a>
    </div>
</section>