<% if(loggedIn){ %>
<div class="sidenav col-3">
    <a href="/home">Feed</a> <br>
    <a href="">Notifications</a> <br>
    <a href="">Messages</a> <br>
    <a href="">Help & Support</a> <br>
    <a href="/profilePage">Profile</a> <br>
    <a href="/user/logout">Log Out</a><br>
</div> <br>

<div class="adSpace col-6">
    <a href="dogecoin.com"><img src="/img/ad.jpg"></a>
</div> <br>

<br>
<form class="blocktext col-6">
    <div class="col">

        <fieldset class="form-group targetAdsField">
            <div class="row col-sm-8">
                <legend class="col-form-label">Profile Specific Ads</legend>
            </div>

            <div class="col-sm-12">
                <div class="form-group col-sm-8 row">
                    <div class="form-check col-4">
                        <input type="radio" id="taOn" name="targetAds" value="on" class="form-check-input">
                        <label for="taOn" class="form-check-label">On</label>
                    </div>

                    <div class="form-check col-4">
                        <input type="radio" id="taOff" name="targetAds" value="off" class="form-check-input">
                        <label for="taOff" class="form-check-label">Off</label>
                    </div>
                </div>
            </div>
        </fieldset>
    </div>
    <p>
        <button type="submit" class="btn btn-primary">Save</button>
        <button type="reset" class="btn btn-secondary">Cancel</button>
    </p>
</form> <br> <br>

<%} else {%>
    <body>
        <div class="container higherStyling" style="color: black;" id="mainDiv">
            <br>
            <br>
            <fieldset class="brdr ">
                <div class="text-center higherStyling">
                    <div>
                        <h3>You are not signed in!</h3>
                    </div>
                    <a href="login">
                        <span class="button">Sign in</span>
                    </a>
                </div>
            </fieldset>
        </div>
    </body>
<%}%>