<% if(loggedIn){ %>
<br>
<section class="mainForms row">
    <form action="/user/checkSecurityQuestion" method="POST" id="questionForm">
        <!-- This is our email and password fields -->
        <fieldset class="border brdr">
            <br>
            <div class="row">
                <div class="row d-flex justify-content-center col-sm-12">
                    <label for="q1" class="col-md-2 col-sm-2 col-lg-7">Question 1:</label>
                    <h6><span><%= currentUser.securityQuestion1 %></span></h6>
                </div>
                <div id="divQ1" class="row d-flex justify-content-center col-sm-12">

                    <input type="text" id="a1" name="a1" required class="form-control col-md-5 col-sm-7 col-lg-7"
                        placeholder="Your answer..">
                </div>

                <br>

                <div class="row d-flex justify-content-center col-sm-12">
                    <label for="q1" class="col-md-2 col-sm-2 col-lg-7">Question 2:</label>
                    <h6><span><%= currentUser.securityQuestion2 %></span></h6>
                </div>
                <div id="divQ1" class="row d-flex justify-content-center col-sm-12">
                    <input type="text" id="a2" name="a2" required class="form-control col-md-5 col-sm-7 col-lg-7"
                        placeholder="Your answer..">
                </div>

                <br>

                <div class="row d-flex justify-content-center col-sm-12">
                    <label for="q1" class="col-md-2 col-sm-2 col-lg-7">Question 3:</label>
                    <h6><span><%= currentUser.securityQuestion3 %></span></h6>
                </div>
                <div id="divQ1" class="row d-flex justify-content-center col-sm-12">
                    <input type="text" id="a3" name="a3" required class="form-control col-md-5 col-sm-7 col-lg-7"
                        placeholder="Your answer..">
                </div>
            </div>
            <br>
            <div class="col-sm-5  col-lg-12  d-flex justify-content-center hyperColor">
                <input type="submit" class="col-sm-6 col-md-4 col-lg-3 offset-md-1 offset-sm-1 offset-xs-1
                     btn btn-danger">

                <script>
                    function relocate_home() {
                        location.href = "/home";
                    }
                </script>
            </div>
            <br>
        </fieldset>
        <br>
    </form>
    <script src="/JS/questions.js"></script>
</section>
<%}else{%>
    <body>
        <div class="container higherStyling" style="color: black;" id="mainDiv">
            <br>
            <br>
            <fieldset class="brdr ">
                <div class="text-center higherStyling">
                    <div>
                        <h3>You are not signed in!</h3>
                    </div>
                    <a href="login">
                        <span class="button">Sign in</span>
                    </a>
                </div>
            </fieldset>
        </div>
    </body>
<%}%>