<%if(!loggedIn){ %>
<br>
<div class="float-container mainDiv">
    <div class="float-left center">
        <img src="/images/beautfulWomanOrangeFlowers.jpg" alt="" class="brdr resizeImg">
    </div>
    <div class="float-right center">
        <form action="/user/create" method="POST" id="mainForm">
            <fieldset class="brdr center">
                <h1> Sign Up Now!</h1>

                <br>

                <div class="row form-group center">
                    <div class="col-sm-10 col-lg-5">
                        <label for="txtUserName" class="col-md-12 col-form-label">
                            <span>User Name*:</span>
                        </label>
                    </div>
                    <div class="col-sm-10 col-lg-7 center">
                        <input type="text" required id="txtUserName" name="username" required
                            class="form-control col-6 center">
                    </div>
                    <div id="divDoBError" class="invisible errorMessage">

                    </div>
                </div>

                <br>

                <div class="row form-group center">
                    <div class="col-sm-10 col-lg-3">
                        <label for="txtEmail">
                            <span>Email*:</span>
                        </label>
                    </div>
                    <div class="col-sm-10 col-lg-3">
                        <input type="email" required name="email" id="txtEmail" class="col-9 form-control center"
                            placeholder="Your Email">
                    </div>

                    <div class="col-sm-10 col-lg-2">
                        <label for="txtTele">
                            <span>Phone Number (xxx-xxx-xxxx):</span>
                        </label>
                    </div>
                    <div class="col-sm-10 col-lg-4 ">
                        <input type="tel" required name="txtTele" id="txtTele" placeholder="333-333-3333"
                            class="col-9 form-control center">
                    </div>
                </div>

                <br>

                <div class="row form-group center">
                    <div class="col-sm-10 col-lg-3">
                        <label for="txtPW">
                            <span>Password*:</span>
                        </label>
                    </div>

                    <div class="col-sm-10 col-lg-3">
                        <input type="password" required name="password" id="txtPW" placeholder="***************"
                            class="col-6 form-control center">
                    </div>

                    <div class="col-sm-10 col-lg-2 form-group">
                        <label for="txtPW2">
                            <span>Confirm Password*:</span>
                        </label>
                    </div>


                    <div class="col-sm-10 col-lg-3">
                        <input type="password" required name="txtPW2" id="txtPW2" placeholder="***************"
                            class="col-6 form-control center" >
                    </div>
                </div>
                <div id="passwordError" class="invisible form-control center col-4 alert-danger"></div>

                <br>

                <div class="form-group row center">
                    <div class="col-sm-10 col-lg-3">
                        <label for="textFirstName" class="col-md-6 col-form-label">
                            First Name*:
                        </label>
                    </div>
                    <div class="col-sm-10 col-lg-3">
                        <input type="text" required id="textFirstName" name="textFirstName" required
                            class="form-control col-6 center" placeholder="Susie">
                    </div>

                    <div class="col-sm-10 col-lg-2">
                        <label for="textLastName" class="col-md-8 col-form-label">
                            <span>Last Name*:</span>
                        </label>
                    </div>
                    <div class="col-sm-10 col-lg-3">
                        <input type="text" required id="textLastName" name="textLastName" required
                            class="form-control col-6 center" placeholder="Sal">
                    </div>
                </div>

                <br>

                <div class="row form-group center">
                    <div class="col-sm-10 col-lg-5">
                        <label for="txtDOB" class="col-md-12 col-form-label">
                            <span>Date of Birth*</span>
                        </label>
                    </div>
                    <div class="col-sm-10 col-lg-7">
                        <input type="date" required id="txtDOB" name="txtDOB" required class="form-control col-6 center">
                    </div>
                    <div id="divDoBError" class="invisible errorMessage">

                    </div>
                </div>

                <br>

                <fieldset class="form-group genderField center">
                    <legend class="col-form-label center">Gender</legend>
                    <div class="col-sm-12 center">
                        <div class="form-group col-sm-8 row center">
                            <div class="form-check col-4">
                                <input type="radio" id="rbMale" name="gender" value="male" class="form-check-input">
                                <label for="rbMale" class="form-check-label">Male</label>
                            </div>
                            <div class="form-check col-4">
                                <input type="radio" id="rbFemale" name="gender" value="female" class="form-check-input">
                                <label for="rbMale" class="form-check-label">Female</label>
                            </div>
                            <div class="form-check col-4">
                                <input type="radio" id="rbOther" name="gender" value="other" class="form-check-input">
                                <label for="rbOther" class="form-check-label">Other</label>
                            </div>
                        </div>
                    </div>
                </fieldset>

                <br>

                <div class="form-group col-10 center">
                    <label for="txtBiography">Biography</label>
                    <textarea name="txtBiography" class="form-control" id="txtBiography" rows="3"
                        placeholder="Express yoself!"></textarea>
                </div>

                <br>

                <div class="form-group col-8 center">
                    <label for="formFileLg" class="form-label"><b> Add yoProfile Picture</b></label>
                    <input id="formFileLg" type="file" />
                </div>

                <br>

                <h2>Security Questions</h2>

                <div class="row">
                    <div class="row d-flex justify-content-center col-sm-12">
                        <label for="q1" class="col-md-2 col-sm-2 col-lg-7">Question 1:</label>
                        <select name="q1" id="q1" class="form-control col-md-5 col-sm-7 col-lg-7" onchange="updateCountry(this.id)">
                            <option value="n">-----</option>
                            <option value="In what town or city did you meet your spouse or partner?">In what town or city did you meet your spouse or partner?</option>
                            <option value="What is the middle name of your oldest child?">What is the middle name of your oldest child?</option>
                            <option value="What are the last five digits of your driver's license number?">What are the last five digits of your driver's license number?</option>
                            <option value="What is your grandmother's (on your mother's side) maiden name?">What is your grandmother's (on your mother's side) maiden name?</option>
                        </select>
                    </div>
                    <div id="divQ1" class="row d-flex justify-content-center col-sm-12 invisible">
                        <div class="col-md-2 col-sm-2 col-lg-7">
                            <label for="a1" class="col-sm-7">Your Answer 1</label>
                        </div>
                        <input type="text" id="a1" name="a1" required class="form-control col-md-5 col-sm-7 col-lg-7"
                            placeholder="Your answer..">
                    </div>
                    <div class="row d-flex justify-content-center col-sm-12">
                        <label for="q2" class="col-md-2 col-sm-2 col-lg-7">Question 2:</label>
                        <select name="q2" id="q2" class="form-control col-md-5 col-sm-7 col-lg-7" onchange="updateCountry(this.id)">
                            <option value="n">-----</option>
                            <option value="What was the house number and street name you lived in as a child?">What was the house number and street name you lived in as a child?</option>
                            <option value="What were the last four digits of your childhood telephone number?">What were the last four digits of your childhood telephone number?</option>
                            <option value="What primary school did you attend?">What primary school did you attend?</option>
                            <option value="In what town or city was your first full time job?">In what town or city was your first full time job?</option>
                        </select>
                    </div>
                    <div id="divQ2" class="row d-flex justify-content-center col-sm-12 invisible">
                        <div class="col-md-2 col-sm-2 col-lg-7">
                            <label for="a2" class="col-sm-7">Your Answer 2</label>
                        </div>
                        <input type="text" id="a2" name="a2" required class="form-control col-md-5 col-sm-7 col-lg-7"
                            placeholder="Your answer..">
                    </div>
                    <div class="row d-flex justify-content-center col-sm-12">
                        <label for="q3" class="col-md-2 col-sm-2 col-lg-7">Question 3:</label>
                        <select name="q3" id="q3" class="form-control col-md-5 col-sm-7 col-lg-7" onchange="updateCountry(this.id)">
                            <option value="n">-----</option>
                            <option value="What is your spouse or partner's mother's maiden name?">What is your spouse or partner's mother's maiden name?</option>
                            <option value="In what town or city did your parents meet?">In what town or city did your parents meet?</option>
                            <option value="What time of the day were you born?">What time of the day were you born?</option>
                            <option value="What time of the day was your first child born?">What time of the day was your first child born?</option>
                        </select>
                    </div>
                    <div id="divQ3" class="row d-flex justify-content-center col-sm-12 invisible">
                        <div class="col-md-2 col-sm-2 col-lg-7">
                            <label for="a3" class="col-sm-7">Your Answer 3</label>
                        </div>
                        <input type="text" id="a3" name="a3" required class="form-control col-md-5 col-sm-7 col-lg-7"
                            placeholder="Your answer..">
                    </div>
                </div>

                <br>
                <br>
                <button type="submit" name="SubmitButton" class="btn btn-danger">Sign Up!</button>
                <br>
                <br>
            </fieldset>
        </form>
    </div>
</div>
<script src="/JS/questions.js"></script>

<%}else{ %>
    <br>
    <body>
        <div class="container mainDiv" style="color: black;">
            <fieldset class="brdr">
                <div class="text-center">
                    <div>
                        <h3>You are already signed in</h3>
                    </div>
                    <a href="/user/home">
                        <span class="button">Go home</span>
                    </a>
                </div>
            </fieldset>
        </div>
    </body>
    
<%}%>